.footer {
    padding: 1rem;
    background-color: #efefef;
    width: 100%;
    display: flex;
    align-items: stretch;
}

.footer a {
    padding: 14px 16px;
}

.footer-links {
    margin-left: auto;
}